<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<connectionStrings>
		<add name="ClientesDb"
			 connectionString="Server=Giulia\SQLGIULIA;Database=ClientesDb;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="Clientes.WcService.ClienteService">

				<!-- Endpoint principal (SOAP via HTTP) -->
				<endpoint
				  address=""
				  binding="basicHttpBinding"
				  contract="Clientes.WcService.IClienteService" />

				<!-- Endpoint de metadados (usado para testes e Postman) -->
				<endpoint
				  address="mex"
				  binding="mexHttpBinding"
				  contract="IMetadataExchange" />

				<!-- Base address -->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:62716/ClientesService" />
					</baseAddresses>
				</host>

			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Habilita exibição de WSDL -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<!-- Exibe detalhes de erro no SOAP -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!-- Se for usar HTTPS futuramente -->
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                           multipleSiteBindingsEnabled="true"
                           minFreeMemoryPercentageToActivateService="0" />

	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
	</system.webServer>

</configuration>
